.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -10vh;
}

.issueContainer {
  width: 30vw;
  border-radius: 5px;
  box-shadow: 2px 3px 10px #cdcbcb;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 50px;
  font-weight: 300;
}

.logo {
  margin: auto;
  height: 80px;
  width: 80px;
  margin-top: -60px;
  margin-bottom: 40px;
}

.input {
  height: 45px;
  width: 100%;
  margin-bottom: 40px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 10px;
  font-size: 20px;
}

@media only screen and (max-width: 1024px) {
  .issueContainer {
    width: 50vw;
  }
}

@media only screen and (max-width: 700px) {
  .issueContainer {
    width: 80vw;
  }

  .logo {
    height: 50px;
    width: 50px;
    margin-top: -45px;
  }

  .title {
    font-size: 30px;
  }

  .input {
    height: 30px;
    font-size: 16px;
    padding: 1px 10px;
  }
}

.result {
  margin-top: 30px;
  font-size: 20px;
  text-align: center;
}